
<div class="container">
<section  >
    <div class="form-group">
        <div class="row">
            <div class="col-md-10 col-centered">
                <grid-view fields="[{'name': 'nome', 'value': 'Nome' },{'name': 'telefone', 'value': 'Telefone' },{'name': 'email', 'value': 'Email'}]" add="true" update="true" delete="false" listaname="motorista"  adicionar="/#/motorista/new"  view="motorista" pagesize="10"></grid-view>
            </div>
        </div> 
      
    </div>
</section>
</div>
