<div class="container">
	<div class="row">
		<div class="">
			<div id="box_planos"> 
				<ul class="planos"> 
					<li> 
						<h3>Plano 1</h3> 
						<h4>R$ 
							<strong>999,00</strong>
							<span>/mês</span>
						</h4> 
						<a class="btn_contrata" href="">Contrate</a> 
					</li> 
					<li> 
						<h3>Plano 2</h3> 
						<h4>R$ 
							<strong>999,00</strong>
							<span>/mês</span>
						</h4> 
						<a class="btn_contrata" href="">Contrate</a> 
					</li> 
					<li> 
						<h3>Plano 3</h3> 
						<h4>R$ 
							<strong>999,00</strong>
							<span>/mês</span>
						</h4> 
						<a class="btn_contrata" href="">Contrate</a> 
					</li>		 
				</ul> 
				<div class="caracteristicas"> 
					<h3>Características</h3> 
					<ul> 
						<li>Primeira caracteristica</li> 
						<li>Segunda</li> 
						<li>Terceira</li> 
						<li>Quarta</li> 
						<li>Quinta</li> 
						<li>Sexta</li> 
					</ul> 
				</div> 
			</div> 
		</div>
	</div>
</div>