<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div id="box_planos">
				<div class="planos"> 
					<ul> 
						<li> 
							<h3>Plano 1</h3> 
							<h4>R$ 
								<strong>999,00</strong>
								<span>/mês</span>
							</h4> 
							<a class="btn_contrata" href="">Contrate</a> 
						</li> 
						<li> 
							<h3>Plano 2</h3> 
							<h4>R$ 
								<strong>999,00</strong>
								<span>/mês</span>
							</h4> 
							<a class="btn_contrata" href="">Contrate</a> 
						</li> 
						<li> 
							<h3>Plano 3</h3> 
							<h4>R$ 
								<strong>999,00</strong>
								<span>/mês</span>
							</h4> 
							<a class="btn_contrata" href="">Contrate</a> 
						</li>		 
					</ul>
				</div> 
				<div class="caracteristicas"> 
					<h3>Características</h3> 
					<ul class="list-inline"> 
						<li>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</li>
						<li>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam"</li> 
						<li>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure</li> 
						<li>"Lorem ipsum dolor sit amet</li> 
						<li>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li> 
						<li>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</li> 
					</ul> 
				</div> 
			</div> 
		</div>
	</div>
</div>