#box_planos {
	background: #FFF;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}

#box_planos .planos li{
	float: left;
	width: 300px;
	text-align: center;
	margin: 45px 0 30px 0;
	border-right: 1px solid #e5e5e5;
}

#box_planos .planos li:last-child{
	width: 312px;
	border-right: 0;
}

#box_planos .planos li h3{
	font: 26px Arial,Helvetica,sans-serif;
	color: #000;
}

#box_planos .planos li h4{
	font: 20px Arial,Helvetica,sans-serif;
	color: #484848;
	margin-top: 20px;
}

#box_planos .planos li h4 strong{
	font: 36px Arial,Helvetica,sans-serif;
}

#box_planos .planos li h4 span{
	font: 16px Arial,Helvetica,sans-serif;
}

#box_planos .planos li a{
	display: block;
	margin: 18px auto 10px auto;
	width: 160px;	
	height: 46px;
	font: 18px/46px Arial,Helvetica,sans-serif;
}

#box_planos .planos li a:hover{
	margin: 20px auto 8px auto;
}

#box_planos .planos li p{
	font: 15px Arial,Helvetica,sans-serif;
	color: #999;
}

#box_planos .planos li p strong{
	font: 700 15px Arial,Helvetica,sans-serif;
}

#box_planos .caracteristicas{
	display: inline-block;
	border-top: 3px solid #f1f1f1;
	padding: 30px 30px 15px 30px;
}

#box_planos .caracteristicas h3{
	font: 300 24px Arial,Helvetica,sans-serif;
	color: #000;
}

#box_planos .caracteristicas ul{
	margin-top: 20px;
}

#box_planos .caracteristicas li{
	float: left;
	width: 425px;
	height: 40px;
	font: 300 16px Arial,Helvetica,sans-serif;
	color: #484848;
	padding-left: 25px;
	background: 0 5px url("http://www.ellismayes.co.uk/communities/3/004/011/966/933//images/4594563387_16x16.png") no-repeat;
}
.btn_contrata{
	display: block;
	background: #38B0DE;
	text-align: center;
	color: #FFF;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-box-shadow: 0 2px 0 0 #236B8E;
	box-shadow: 0 2px 0 0 #236B8E;
	-webkit-transition: 0.2s ease;
	-o-transition: 0.2s ease;
	transition: 0.2s ease;
}

.btn_contrata:hover{
	text-decoration: none;
	-webkit-box-shadow: 0 0 0 0 #bf3a2b;
	box-shadow: 0 0 0 0 #bf3a2b;
}