
<div class="container">
<section  >
    <div class="form-group">
        <div class="row">
            <div class="col-md-10 col-centered">
                <grid-view fields="[{'name': 'codigo', 'value': 'Código' }, {'name': 'nome', 'value': 'Nome' }, {'name': 'empresa', 'value': 'Empresa', 'sub': 'nome'}]" add="true" update="true" delete="false" listaname="centrocusto"  adicionar="/#/centrocusto/new"  view="centrocusto" pagesize="10"></grid-view>
            </div>
        </div> 
      
    </div>
</section>
</div>
